.env
.venv
.\backend\Locate\__pycache__\
.\backend\Locate\migrations\__pycache__\
.\backend\SEA_SHOP\__pycache__
.\backend\Apis\__pycache__\
.\backend\Apis\migrations\__pycache__\
.\backend\foodie\__pycache__\
.\backend\foodie\migrations\__pycache__\