.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.header {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  align-content: space-between;
  margin-left: 10px;
  background-color: #233895;

}

.title {
  height: 50px;
  width: 20%;
  background-color: #56b1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #2ec4ea;
  display: flex;
  justify-content: center;
  align-items: center;


}

.footer-class {
  margin-left: 50px;
}


body {
  margin: 0;
  padding: 0;
}

.book_back {}

.book_info {

  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.content {
  height: 100%;
  display: grid;
}

.book_item {
  border: 1px solid black;


}
/*
.landing-back {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
  opacity: 0.3;
  z-index: -1
}*/

.about-landing {
  background-color: beige;
}

.input-container {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.input-label {
  margin-right: 10px;
  font-size: 20px;
}

.textarea {
  width: 1200px;
  height: 300px;
}

.commentTitle {
  width: 1200px;
  height: 30px;

}

.commentButton {
  width: 120px;
  height: 30px;
}